$gray: #999;
$black: #000000;
$white: #fff;
$color-primary: #101820;
$red: #E63E3A;


$font-primary: 'SuisseIntl-Regular', sans-serif;
$base-font-serif: 'SuisseIntl-Regular-2', 'Times', 'Baskerville', 'Georgia', serif;

$animation-speed: 0.3s;
