@import 'core/variables';
@import 'core/reboot';
@import 'core/fonts';

body {
	color: $color-primary;
	font-family: $font-primary;
	background-color: #f7f7f7;
	font-size: 22px;
	line-height: normal;
}
